        /*======================
            Paleta de colores 
        ======================*/
        :root {
            --azul-aside: #344a61;
            --azul-fuente: #1a276e;
            --gris-titulo: #f5f5f5;
        /*======================
            Estilos generales 
        ======================*/
        /* Bordes maquetacion
        main, aside, div, section, ul, li, h2, h3, h4, img {
        border: 1px solid;
        }*/
        
        main {
            border: 2px solid;
            margin: 0 auto;
            display: flex;
            width: 595.28px;
            height: 841.89px;
        }
        
        body {
            font-family: monospace;
            font-size: 11px;
        }
        
        
        aside {
            width: 35%;
            background-color: var(--azul-aside);
            color: white;
        }
        
        section {
            width: 65%;
            background-color: rgb(231, 229, 229)
        }
        
        aside,
        section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        
        .experiencia-fecha {
            color: gray;
        }
        
        ul {
            padding-left: 12px;
        }


           /* Aside 
        ===================*/
        
        .habilidades-aside {
            width: 80%;
        }
        
        #fotoCV {
            width: 75%;
        }
        
        #foto-perfil {
            width: 100%;
            border: 2px solid white;
        }
        
        .habilidades-contact {
            list-style-type: none;
            font-size: 12px;
        }
        
        .contact-container {
            padding-left: 0px;
        }
        
        
        /*===================
            Section
        ===================*/
        
        #portada,
        .section-resumen,
        .section-experiencia {
            width: 90%;
        }
        
        #portada {
            text-align: center;
        }
        
        .contact-container {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .habilidades-contact {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        
        .icon {
            width: 25px;
            text-align: center;
            margin-right: 10px;
            font-size: 18px;
            color: white;
            /* 👈 todos los íconos en blanco */
        }
        
        .habilidades-contact a {
            color: white;
            /* el link también blanco */
            text-decoration: none;
        }
        
        .habilidades-contact a:hover {
            text-decoration: underline;
        }

        h2{
            border-bottom: 2px solid var(--azul-fuente);
            padding-bottom: 3px;
            margin-bottom: 5px;
            color: var(--azul-fuente);
        }
    }